body {
  font-family: "Roboto Mono", monospace, "Inter", sans-serif;
  background: #cef1ff5e;
  color: rgb(0, 0, 0);
}

h1 {
  color: rgba(82, 81, 81, 0.911);
  font-size: 35px;
  margin: 100px 60px;
  text-align: center;
  font-weight: 350;
  text-transform: capitalize;
}

h2 {
  color: rgba(82, 81, 81, 0.911);
  padding: 70px;
  font-weight: 300;
  font-size: 50px;
  margin: 0 auto;
  margin-top: 15px;
}
form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

ul {
  color: rgba(56, 55, 55, 0.932);
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.date {
  font-size: 12px;
  text-align: right;
  margin: 0 auto;
}
.time {
  font-size: 12px;
  text-align: right;
  margin-bottom: 70px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 10px;
}
.app-style {
  border: 1px solid rgba(224, 224, 224, 0.55);
  box-shadow: 0 0 80px rgba(138, 134, 134, 0.38);
  border-radius: 50px;
  padding: 20px 40px;
  margin: 60px auto;
  max-width: 900px;
}

.btn-control {
  color: mintcream;
  background-color: rgb(0, 110, 255);
  border-color: #26b7f05e;
  font-size: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 400;
}
.btn-control:hover {
  background-color: rgba(0, 17, 255, 0.822);
  transition: ease-in-out 350ms;
  cursor: default;
  border-color: rgba(113, 203, 255, 0.781);
}
.location-button {
  font-weight: 400;
  font-size: 10px;
  padding: 10px 20px;
  border-radius: 30px;
}

.form-control {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.weatherForecast {
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}
.day-control {
  margin: 0 auto;
  font-weight: 300;
}
.icon {
  position: relative;
  left: 30px;
  bottom: 30px;
}
.weather-icon {
  font-size: 50px;
  margin: 30px auto;
}
.forecast-temperature {
  font-style: normal;
  font-size: 18px;
  color: #eb7d61d5;
  font-weight: 500;

  margin-left: 10px;
}
.forecast-temperature-min {
  opacity: 0.6;
}
.units {
  position: relative;
  right: 20px;
  font-size: 36px;
}
