body {
  font-family: "Roboto Mono", monospace;
}
h1 {
  color: lightslategray;
  font-size: 32px;
  padding-top: 50px;
  font-weight: 200;
  text-transform: initial;
  text-align: center;
}

h2 {
  font-weight: 100;
  font-size: 40px;
  list-style: 5px;
  text-align: center;
}
h3 {
  font-weight: 250;
  font-size: 13px;
  list-style: 5px;
  margin-left: 20px;
}
ul {
  text-align: center;
  padding: 0;
}
li {
  display: inline;
  padding: 20px;
}

body {
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  background: #ffffff;
}
a {
  text-decoration: none;
}

.time {
  font-size: 12px;
  text-align: right;
  position: relative;
  right: 25px;
  top: -15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text {
  margin-top: 22rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 200;
  text-align: center;
}
.icon {
  margin: 0px 10px 25px 0;
}
.btn-light {
  background-color: rgba(176, 196, 222, 0.562);
}
.btn-light:hover {
  box-shadow: 4px 4px 4px rgba(187, 110, 110, 0.479);
  transition: 300ms ease-in-out;
  background-color: rgba(240, 128, 128, 0.5);
  color: mintcream;
}

.date {
  font-size: 12px;
  text-align: right;
  padding: 10px 15px 0 0;
}

.app-style {
  border: 1px solid grey;
  box-shadow: 4px 4px 4px rgba(101, 102, 102, 0.445);
  border-radius: 10px;
  padding: 0 10px 10px 10px;
  margin: 50px auto;
  max-width: 850px;
}
.pin-style {
  font-size: 14px;
  color: rgba(214, 151, 151, 0.61);
}

.btn-control {
  color: mintcream;
  background-color: rgb(0, 110, 255);
  display: block;
  margin-left: 35px;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 400;
}
.location-button {
  display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 30px;
}
.form-control {
  display: block;
  margin-left: 280px;
  max-width: 150px;
  text-align: center;
}
.day-control {
  text-align: center;
  padding-top: 20px;
  font-weight: 200;
}
.icon-control {
  text-align: center;
  padding-bottom: 10px;
}
.temp-control {
  text-align: center;
  padding-bottom: 25px;
  font-weight: 200;
}
.icon-style {
  font-size: 40px;
}
.forecast-style {
  border: 1px solid gray;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgba(190, 202, 204, 0.5);
}
.clock {
  font-size: 30px;
  width: 300px;
  margin: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}
